@model IEnumerable<VU_SLMS.Models.Employee>
@{
    ViewData["Title"] = "Employee List";
}

<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ViewData["Title"]</h5>

        <!-- Table with stripped rows -->
        <table class="table datatable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Desgination</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var L in Model){
                <tr>
                    <td>@L.Name</td>
                        <td>
                            @if (L.Image != null)
                            {
                                <img src="@L.Image" class="img-thumbnail" style="max-height: 50px;" />
                            }
                            else
                            {
                                <img src="/data/placeholder.jpg" class="img-thumbnail" style="max-height: 50px;" />
                            }
                        </td>
                        <td>@L.Designation</td>
                    <td>
                            <a asp-action="EmployeeDetail" asp-route-id="@L.Id" class="btn btn-sm btn-outline-info"><i class="bi bi-card-text"> Detail</i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>