@model IEnumerable<VU_SLMS.DTOs.LeaveRequiredModel>
@{
    ViewData["Title"] = "Dashboard";
    var success = TempData["success"];
}
<style>
    .divmsg {
        background: #223c88 !important;
        color: #fff !important;
        font-weight: bold;
    }

    .divred {
        background: #fc000d !important;
    }
</style>
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/home/index">@ViewData["Title"]</a></li>
        </ol>
    </nav>
</div>
@if (success != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        @success
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <!-- Employee Card -->
    <div class="col-xxl-6 col-md-6">
        <div class="card info-card sales-card">
            <div class="card-body">
                <h5 class="card-title">Total Employees <span>| Today</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.TotalEmp</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Employee Card -->
    <!-- Benefit Card -->
    <div class="col-xxl-6 col-md-6">
        <div class="card info-card customers-card">
            <div class="card-body">
                <h5 class="card-title">Total Benefits</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-gift"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.TotalBen</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Benefit Card -->
</div>

<!-- Leave Require -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title" id="flush-headingOne">
            <button class="btn collapsed divmsg" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Leaves Due
            </button>
        </h5>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    @foreach (var E in Model)
                    {

                        <div class="card" style="background-color: #FEF8DD;">
                            <div class="card-body">
                                <h5 class="card-title">Leave Required for <strong>@E.Name</strong></h5>
                                <div class="row">
                                    <div class="col-6">
                                        <dl class="row">
                                            <dt class="col-sm-4">
                                                <strong>Name: </strong>
                                            </dt>
                                            <dd class="col-sm-8">
                                                @E.Name
                                            </dd>
                                            @if(E.Type == 1)
                                            {
                                                <dt class="col-sm-4">
                                                    <strong>Previous Leave: </strong>
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @E.PrevRLeaveFrom.ToString("dd-MMM-yyyy") -- @E.PrevRLeaveTo.ToString("dd/MMM/yyyy")
                                                </dd>
                                                <dt class="col-sm-4">
                                                    <strong>Leave Count: </strong>
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @E.RLeaveCount
                                                </dd>
                                            }
                                            else
                                            {
                                                <dt class="col-sm-4">
                                                    <strong>Joinging Date: </strong>
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @E.JoiningDate.ToString("dd-MMM-yyyy")
                                                </dd>
                                            }
                                            <dt class="col-sm-4">
                                                <strong>Extra Leaves: </strong>
                                            </dt>
                                            <dd class="col-sm-8">
                                                @E.ExtraLeave
                                            </dd>
                                            <dt class="col-sm-4">
                                                <strong>Expected Leave: </strong>
                                            </dt>
                                            <dd class="col-sm-8">
                                                @E.ExpcRLeave.ToString("dd-MMM-yyyy")
                                            </dd>
                                            <dt class="col-sm-4">
                                                <strong>Leaves this year: </strong>
                                            </dt>
                                            <dd class="col-sm-8">
                                                @if(E.LeavesThisYear != null)
                                                {
                                                    @E.LeavesThisYear
                                                }
                                                else
                                                {
                                                    <p>0</p>
                                                }
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-6">
                                        <p class="col-sm-4">
                                            <strong>Employee Image: </strong>
                                        </p>
                                        @if (E.Image != null)
                                        {
                                            <img src="@E.Image" class="img-thumbnail" style="max-height: 300px;" />
                                        }
                                        else
                                        {
                                            <img src="/data/placeholder.jpg" class="img-thumbnail" style="max-height: 300px;" />
                                        }
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <a href="/home/addupdateleave" class="btn btn-sm btn-outline-primary">Add leave</a>
                                    <a href="/home/leavelist?id=@E.Id" class="btn btn-sm btn-outline-info">leaves detail</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Leave Require -->

@section Scripts
{
    <script>
        $(document).ready(function () {
            var blink = null;
                if (blink == null)
                    blink = setInterval(blinkMessage, 500);
        });
        function blinkMessage() {
            $(".divmsg").toggleClass("divred");
        }

    </script>
}